.novelWrapper {
  position: relative;
  // overflow-x: hidden;

  min-height: 600px;
  height: 100vh;

  // font-size: ;

  overflow: hidden;
  .bcg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    // right: 0;
    // bottom: auto;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .characters {
    position: relative;
    z-index: 1;
    height: 100%;

    $character-side-margin: 4rem;
    .character {
      position: absolute;
      // left: 0;
      // translate: 0;
      // height: 90vh;
      // bottom: 0;
      // left: -15%;
    }
    .left {
      margin-left: $character-side-margin;
    }
    .right {
      margin-right: $character-side-margin;
    }
  }
  .dialog {
    position: absolute;
    z-index: 2;
    height: 30vh;
    display: flex;
    left: 0;
    right: 0;
    // width: 100vh;
    bottom: 0;
    filter: drop-shadow(0 0 0 2px white);

    h4 {
      position: absolute;
      top: 0;
      left: calc(4rem + 3rem);
      background-color: rgba(#555, 0.8);
      color: white;
      border-radius: 1rem;
      padding: 1.25em;
    }

    p {
      padding: 4rem;
      background-color: rgba(#333, 0.5);
      display: block;
      color: white;
      border-radius: 2rem;
      margin: 4rem;
      width: 100%;
    }
  }
}
